################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Trabalho_Chat_TCP/.vs
/Trabalho_Chat_TCP/ServidorChat/bin/Debug
/Trabalho_Chat_TCP/ClienteChat/bin/Debug